@media (min-width : 768px ) {
  #layout-left-column-main, #cms #main {
    width: calc(100% - 300px - 60px);
    margin-left: 300px;
    margin-right: 60px;
  }
}

@media (max-width: 767px) {
  #layout-left-column-main, #cms #main {
    margin-left: $mobile-left-spacing;
    margin-right: $mobile-left-spacing;
  }
}

@media (max-width: 374px) {
  .product-add-to-cart {
    .control-label {
      display: none;
    }
  }
}

