.links {
  padding-top: 20px;
  .link-block {
    padding-top: 10px;
    padding-bottom: 8px;
    width: $square-length;
  }
  h3 {
    font-size: $nav-font-size;
    font-weight: 400;
    line-height: 5px;
    padding-bottom: 6px;
  }
  ul {
    li {
      a {
        display: block;
        padding-top: 3px;
        padding-bottom: 3px;
        color: $footer-link-color;
        &:hover {
          color: $primary-hover-color;
        }
      }
    }
  }
}

@media (max-width: 767px) {

  .links {
    .title {
      padding-left: 0;
      padding-right: 0;
      .h3 {
        font-weight: 400;
        line-height: 5px;
      }
    }
    ul {
      margin-bottom: 10px;
    }
  }

}